{% extends 'base.html.twig' %}

{% block title %}portfolio{% endblock %}

{% block body %}
    <header>
        <section class="text-center my-5">
            <h1 class="fw-bold display-3 text-center mb-5">
                Mon Portfolio
            </h1>   
        </section>
    </header>
    <main>
        <div class="container py-5">

            <section class="mb-5">
                <h2 class="fw-bold mb-4">
                    <a href="{{ path('administrer') }}" class="text-decoration-none text-info">
                        <i class="bi bi-hdd-network"></i> Administrer
                    </a>
                </h2>

                <div class="card shadow-lg border-0 mb-5 p-3"
                    style="border-radius: 20px; background: linear-gradient(90deg);">
                    <div class="row g-0 align-items-center">

                        <div class="col-md-8 p-4">
                            <h3 class="fw-bold">Samba serveur</h3>
                            <p class="text-muted">Services réseaux / Linux, Samba4</p>
                            <p>
                                Installation et configuration du serveur Samba, puis création de partages de fichiers pour des clients Linux et Windows dans un réseau hétérogène. 
                                Le projet inclut également la gestion des utilisateurs et groupes via Active Directory.
                            </p>
                            <a href="{{path('projeta1')}}" class="btn btn-outline-dark btn-sm">Voir le projet</a>
                        </div>

                        <div class="col-md-4 text-center">
                            <img src="/images/samba.png" class="img-fluid rounded-4 shadow"
                                style="max-height: 180px; object-fit: cover;">
                        </div>

                    </div>
                </div>

                <div class="text-center mb-5">
                    <a href="{{ path('administrer') }}" class="btn px-4 py-2">
                        En savoir plus sur cette compétence →
                    </a>
                </div>
            </section>

            <section class="mb-5">
                <h2 class="fw-bold mb-4">
                    <a href="{{ path('connecter') }}" class="text-decoration-none text-info">
                        <i class="bi bi-router"></i> Connecter
                    </a>
                </h2>
                <div class="card shadow-lg border-0 mb-5 p-3"
                    style="border-radius: 20px; background: linear-gradient(90deg);">
                    <div class="row g-0 align-items-center">

                        <div class="col-md-8 p-4">
                            <h3 class="fw-bold">Audit Wifi</h3>
                            <p class="text-muted">Catégorie / Technologie</p>
                            <p>Courte description expliquant le projet, sa finalité et les compétences mises en œuvre.</p>
                            <a href="{{path('projetc1')}}" class="btn btn-outline-dark btn-sm">Voir le projet</a>
                        </div>

                        <div class="col-md-4 text-center">
                            <img src="/images/audit.png" class="img-fluid rounded-4 shadow"
                                style="max-height: 180px; object-fit: cover;">
                        </div>

                    </div>
                </div>

                <div class="text-center mb-5">
                    <a href="{{ path('connecter') }}" class="btn px-4 py-2">
                        En savoir plus sur cette compétence →
                    </a>
                </div>
                
            </section>


            <section class="mb-5">
                <h2 class="fw-bold mb-4">
                    <a href="{{ path('connecter') }}" class="text-decoration-none text-info">
                        <i class="bi bi-code-slash"></i> Programmer
                    </a>
                </h2>
                <div class="card shadow-lg border-0 mb-5 p-3"
                    style="border-radius: 20px; background: linear-gradient(90deg);">
                    <div class="row g-0 align-items-center">

                        <div class="col-md-8 p-4">
                            <h3 class="fw-bold">Projet Fractale</h3>
                            <p class="text-muted">Catégorie / Technologie</p>
                            <p>Courte description expliquant le projet, sa finalité et les compétences mises en œuvre.</p>
                            <a href="https://github.com/mhd7pf/projetIUT.git" class="btn btn-outline-dark btn-sm">Voir le projet</a>
                        </div>

                        <div class="col-md-4 text-center">
                            <img src="/images/mandelbrot.webp" class="img-fluid rounded-4 shadow"
                                style="max-height: 180px; object-fit: cover;">
                        </div>

                    </div>
                </div>

                <div class="text-center mb-5">
                    <a href="{{ path('programmer') }}" class="btn px-4 py-2">
                        En savoir plus sur cette compétence →
                    </a>
                </div>

                
            </section>
        </div>
        <button id="backToTop" class="btn rounded-circle shadow-lg ms-auto">
            <i class="bi bi-arrow-up"></i>
        </button>
    </main>
{% endblock %}
