<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Thierno Diallo">
        <meta name="description" content="Mon portfolio d'etudiant en reseaux et telecommunications. Découvrez mes projets, compétences et expériences dans les reseaux et telecommunications.">
        <title>{% block title %}base{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://bootswatch.com/5/brite/bootstrap.min.css" >
        

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}

    </head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            {% block header %}
                <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                    <a class="navbar-brand" href="{{path('home')}}" >
                        {# <img src={{asset('images/logom2d.png')}} alt="Logo" width="50" height="50" class="d-inline-block align-text-top"> #}
                        𝓓𝓲𝓸𝓾𝓵𝓭𝓮 𝓓𝓲𝓪𝓵𝓵𝓸
                    </a>
                    <button class="navbar-toggler ms-auto" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarColor02"
                        aria-controls="navbarColor02"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse w-100 justify-content-center align-items-center" id="navbarColor02">
                                <ul class="navbar-nav d-flex flex-column flex-lg-row align-items-center justify-content-center w-100 gap-2">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{{path('home')}}"><i class="bi bi-house-door-fill"></i> Home</a>
                                    </li>
                                    
                                    <li class="nav-item dropdown">
                                        <style>
                                            .dropdown-menu .dropdown-item:hover,
                                            .dropdown-menu .dropdown-item:active {
                                                background-color: var(--bs-info) !important;
                                                color: #fff !important;
                                            }
                                        </style>
                                        <a class="nav-link dropdown-toggle" href="#" id="portfolioDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-briefcase-fill"></i> Portfolio
                                        </a>

                                        <ul class="dropdown-menu btn-info" aria-labelledby="portfolioDropdown">
                                            <li><a class="dropdown-item" href="{{ path('portfolio') }}">Tout le portfolio</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="{{ path('administrer') }}">Administrer</a></li>
                                            <li><a class="dropdown-item" href="{{ path('connecter') }}">Connecter</a></li>
                                            <li><a class="dropdown-item" href="{{ path('programmer') }}">Programmer</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('about')}}"><i class="bi bi-file-earmark-person-fill"></i> About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('cv')}}"><i class="bi bi-file-person-fill"></i> CV</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('contact')}}"><i class="bi bi-telephone-fill"></i> Contact</a>
                                    </li>
                                </ul>
                                <button id="themeToggle" class="btn btn-outline-black ms-auto">🌙</button>
                            </div>
                        </div>
                </nav>
            {% endblock %}
        </header>
        <div class="container mt-4 flex-grow-1">
            {% block body %}

            {% endblock %}
        </div>
        <footer class="bg-dark text-white text-center py-4 mt-4">
            <div class="container">
                <h5 class="mb-3">Suivez-moi</h5>
                <div class="d-flex justify-content-center gap-4 mb-3">
                    <a href="https://www.tiktok.com/@cyber_7pf?_t=ZN-90FwlyWtExC&_r=1" target="_blank" class="text-white fs-3">
                        <i class="bi bi-tiktok"></i>
                    </a>
                    <a href="https://www.instagram.com/cyber_7pf?igsh=eDUyNzhjODMzN2Vx" target="_blank" class="text-white fs-3">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://linkedin.com/in/diouldediallo28" target="_blank" class="text-white fs-3">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://github.com/mhd7pf" target="_blank" class="text-white fs-3">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://x.com/mhd_dioulde28" target="_blank" class="text-white fs-3">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="https://reddit.com/user/Usual_Willingness_19" target="_blank" class="text-white fs-3">
                        <i class="bi bi-reddit"></i>
                    </a>
                </div>
                <p class="mb-0">&copy; {{ "now"|date("Y") }} - Thierno DIALLO </p>
                <small class="text-secondary-50 d-block mt-1">
                    Tous droits réservés.
                </small>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script>
            const btn = document.getElementById("themeToggle");
            const html = document.documentElement;

            // Charger préférence sauvegardée
            const theme = localStorage.getItem("theme") || "light";
            html.setAttribute("data-bs-theme", theme);
            btn.textContent = theme === "dark" ? "🌞" : "🌙";

            // Toggle
            btn.addEventListener("click", () => {
                const current = html.getAttribute("data-bs-theme") === "light" ? "dark" : "light";
                html.setAttribute("data-bs-theme", current);
                localStorage.setItem("theme", current);
                btn.textContent = current === "dark" ? "🌞" : "🌙";
            });


            // Bouton "Back to Top"

            const backToTop = document.getElementById("backToTop");

            window.addEventListener("scroll", () => {
                if (window.scrollY > 400) { 
                    backToTop.style.display = "flex";
                } else {
                    backToTop.style.display = "none";
                }
            });

            backToTop.addEventListener("click", () => {
                window.scrollTo({ top: 0, behavior: "smooth" });
            });
        </script>
        
    </body>
</html>
